<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>oembed 파싱 웹 페이지</title>
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/common.css">
		
	</head>
	<body>
		<!-- Template 출처 : https://codepen.io/jonwelsh/pen/kymgyQ -->
		<form class="search" action="">
			<input type="search" id="targetUrl" placeholder="Input target url here..." required>
		 	<button type="submit">Search</button>
		</form>   
		
		<table class="search">
			<tr>
				<td th:colspan="${sourceList.size}">사용 가능 사이트 목록</td>
			</tr>
			<tr>
				<td th:unless="${sourceList.empty}" th:each="source:${sourceList}">
					<span th:text="${source}" style="color:blue;"></span>
				</td>
			</tr>
		</table>
		
		<table class="search" id="resultTable" style="border-collapse: collapse; max-width:500px">
			
		</table>
		
		<script th:inline="javascript">
		
			function appendTdChild(target, key, content, color) {
				
				if(key == null) {
					// 한 줄에 한 칸 출력
					targetStr = "<tr style='border: 1px solid;'><td colspan=2";
					if(color != null) {
						targetStr += " style='color:"+color+"'"
					}
					targetStr += ">"
					targetStr += content
					targetStr += "</td></tr>"
					
					target.append(targetStr);
				}
				else {
					// 한 줄에 두 칸 출력
					targetStr = "<tr style='border: 1px solid;'><td style='font-weight:bold;'>"
					targetStr += key
					targetStr += "</td>"
					targetStr += "<td"
					if(color != null) {
						targetStr += " style='color:"+color+"'"
					}
					targetStr += ">"
					
					if(key == "html") {
						contentReplace = content.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
						targetStr += contentReplace
						targetStr += "<br>"
						targetStr += content;
					}
					else if(key == "thumbnail_url") {
						targetStr += content;
						targetStr += "<br>"
						targetStr += "<img src="+content+">"
					}
					else {
						targetStr += content;
					}
					targetStr += "</td></tr>"
					
					target.append(targetStr)
				}
				
			}
			
			$(document).ready(function() {
				$(".search").submit(function(event){
					event.preventDefault();
					
					// 자식 노드 전부 제거
					resultTable = $("#resultTable");
					resultTable.empty();
					
					// 검색 대상 URL 식별
					targetUrl = $("#targetUrl").val();
					
					
					$.ajax({
						type: "GET",
						url: "/oembed?targetUrl=" + targetUrl,
						success: function(data, state, xhr) {
							responseJson = JSON.parse(xhr.responseText);
							
							if(responseJson.status != 'OK') {
								if(responseJson.data == null || responseJson.data == "") {
									appendTdChild(resultTable, null, responseJson.message, 'red');
								}
								else {
									appendTdChild(resultTable, null, responseJson.data, 'red');
								}
							}
							else {
								targetData = responseJson.data;
								for(key in targetData) {
									appendTdChild(resultTable, key, targetData[key], 'blue');
								}
							}
							
						},
						error : function(xhr, data) {
							resultTable.append("<td style='color:red;'>알 수 없는 에러가 발생했습니다.</td>")
						}
					})
					
				});
			});
			
		</script>
		
	</body>
</html>